.background {
    background-image: linear-gradient(#DF8B60
    , #BC859C);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-a {
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    color: #3E2952;
    font-size: 249%;
}
 
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.left{
    position: relative;
    left: 0%;
    top: 50%;
}

.right{
    position: relative;
    left: 90%;
    top: 50%;
}

.inline{
    display: inline;
}

.invisible {
    opacity: 0%;
    z-index: -10;
    pointer-events: none;
}

#userInput {
    background: none;
    width:100%;
    border: 7px solid #3E2952;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    color: #3E2952;
    font-size: 169%;
    transform: skew(15deg);
}